:root{
    --background-color: #27242b;
    --background-color-dark: #18161a;
    --background-color-light-dark: #221e25;
    --background-color-light: #322f38;
    --background-color-light-hover: #433f4b;
    --transition: all 0.3s ease;
    --color-pink: rgb(255, 138, 157);
    --color-green: #299a6d;
    --color-green-hover:rgb(46, 169, 120);
}
