.select {
  position: relative;
}
.select__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-dark-gray);
  padding: 15px 11px 14px 11px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}
.select__input:hover {
  background-color: var(--color-dark-gray-hover);
}
.select__text {
  color: var(--color-light-gray);
  height: 17px;
}
.select__text--select.select__text {
  color: white;
}
.select__icon {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.active .select__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.active .select__items {
  opacity: 1;
}
.select__items {
  position: absolute;
  width: 100%;
  overflow: hidden;
  max-height: 0px;
  opacity: 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  z-index: 99;
}
.select__item {
  background-color: var(--color-dark-gray);
  padding: 15px 11px 14px 11px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}
.select__item:hover {
  background-color: var(--color-dark-gray-hover);
}
.select__item--active {
  background-color: var(--color-light-gray);
}
@media (max-width: 768px) {
  .select__input, .select__item {
    padding: 11px 10px;
  }
  .select__text {
    line-height: 10px;
    height: 10px;
    color: var(--color-light-gray-mb);
  }
  .select__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10px;
    text-align: center;
  }
}