.questions__title {
  text-align: start;
  margin-bottom: 30px;
}
.questions__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}
.questions__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
.questions__input {
  width: 322px;
}
.questions__btn {
  padding: 20px 72px;
  text-transform: none;
}
.questions__textarea {
  resize: none;
  min-height: 180px;
  max-width: 320px;
  min-width: 320px;
}